* {
  margin: 0;
  padding: 0;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #e8ebf0;
}
.admin {
  height: 100%;
}
.admin .el-container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.admin .el-container .el-aside {
  background-color: #121a2b;
  float: left;
  overflow-y: auto;
}
.admin .el-container .el-container {
  float: left;
  height: 100%;
  width: 100%;
}
.admin .el-container .el-container .el-main {
  height: 100%;
}
.admin .el-container .el-container .el-header {
  padding: 0;
}
