@import './qian/index.less';
@import './qian/layout.less';
@import './qian/header.less';
@import './qian/aside.less';
@import './qian/politics.less';
@import './qian/economy.less';
@import './qian/anti-terrorism.less';
@import './qian/eventTiming.less';
@import './qian/news.less';
@import './qian/region.less';
@import './qian/originalEvent.less';
@import './qian/India.less';
@import './qian/Ahp.less';
@import './qian/new.less';
@import './qian/original.less';
@import './qian/pagination.less';
@import './qian/report.less';
@import './qian/macroData.less';
@import './admin/admin.less';
@import './admin/header.less';
@import './admin/aside.less';
@import './admin/eventManagement.less';
@import './admin/data.less';
@import './admin/user.less';
@import './admin/expert.less';
@import './admin/log.less';

@maxtitle:#FF5722;
@mintitle:#0f2c2a;
@bgc:#ffffff;
@btn:#e8e9eb;
@bgc2:#f8f8f8;
*,
::before,
::after{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;/*清除点击默认的高亮效果*/
    -webkit-box-sizing: border-box;/*以你的border开始计算你的宽度*/
}

html,body{
height: 100%;
width: 100%;
    font-size: 14px;
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  background-color:#e8ebf0;

}
a{
    text-decoration: none;
    color: #000;
}
a:hover,a:link,a:visited{
    text-decoration: none;
}
ul,ol{
    list-style: none;
    margin-bottom:0;
}
input,textarea{
    border: none;
    resize: none;
    outline: none;/*清除选中效果*/

    -webkit-appearance: none;/*清楚浏览器默认的样式*/
}
.w{
    width:1280px;
    margin:0 auto;
}
