.comprehensive .lou {
  position: relative;
}
.comprehensive .lou img {
  width: 100%;
}
.comprehensive .lou .title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  background-color: #000;
  opacity: 0.5;
}
.comprehensive .lou .title h6 {
  width: 100%;
  color: #ffffff;
  line-height: 200px;
  font-size: 50px;
  margin: 200px 0;
  text-align: center;
}
.comprehensive .regional > .el-row {
  background-color: #ffffff;
  padding: 20px;
}
.comprehensive .regional > .el-row .el-col > span {
  line-height: 130px;
  font-size: 30px;
  text-shadow: 10px 10px 10px #d3d3d3;
  color: #FF5722;
  font-weight: 600;
  text-align: center;
  width: 100%;
  display: inline-block;
}
.comprehensive .regional > .el-row .el-col > p {
  line-height: 40px;
  font-size: 24px;
  padding: 20px;
  text-shadow: 10px 10px 10px #d3d3d3;
}
.comprehensive .regional > h4 {
  line-height: 60px;
  background-color: #0f2c2a;
  font-size: 20px;
  color: #fff;
  width: 100%;
  padding-left: 10px;
}
.comprehensive .regional .analysisProcess {
  background-color: #f8f8f8;
}
.comprehensive .regional .analysisProcess h4 {
  line-height: 150px;
  font-size: 50px;
  color: #0f2c2a;
  width: 100%;
  text-align: center;
}
.comprehensive .regional .analysisProcess .el-row .el-col {
  padding: 20px;
  height: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.comprehensive .regional .analysisProcess .el-row .el-col:hover {
  text-overflow: inherit;
  overflow: visible;
}
.comprehensive .regional .analysisProcess .el-row .el-col i {
  width: 100%;
  font-size: 50px;
  color: #FF5722;
  line-height: 100px;
  text-align: center;
}
.comprehensive .regional .analysisProcess .el-row .el-col h5 {
  line-height: 40px;
  font-size: 20px;
  color: #0f2c2a;
}
.comprehensive .regional .analysisProcess .el-row .el-col ul li {
  line-height: 40px;
  font-size: 20px;
  color: #0f2c2a;
}
.comprehensive .regional .analysisProcess .el-row .el-col p {
  line-height: 40px;
  font-size: 20px;
  color: #0f2c2a;
}
.comprehensive .regional .Process {
  background-color: #ffffff;
  padding: 40px;
}
.comprehensive .regional .Process h4 {
  line-height: 100px;
  font-size: 50px;
  color: #0f2c2a;
  width: 100%;
  text-align: center;
}
.comprehensive .regional .Process .el-row .el-col img {
  width: 80%;
  margin: 40px;
}
.comprehensive .regional .Process .el-row .el-col p {
  line-height: 36px;
  font-size: 20px;
  color: #0f2c2a;
  width: 80%;
}
.comprehensive .regional .overall {
  padding: 40px;
  background-color: #f8f8f8;
}
.comprehensive .regional .overall h5 {
  color: #0f2c2a;
  font-size: 20px;
  line-height: 60px;
  text-shadow: 10px 10px 10px #d3d3d3;
}
.comprehensive .regional .caseIndex {
  padding: 40px;
  background-color: #ffffff;
}
.comprehensive .regional .caseIndex h5 {
  color: #0f2c2a;
  font-size: 20px;
  line-height: 60px;
  text-shadow: 10px 10px 10px #d3d3d3;
}
.comprehensive .regional .caseIndex .el-row .el-col h6 {
  display: inline-block;
  font-size: 20px;
  line-height: 40px;
  background-color: #FF5722;
  color: #ffffff;
  padding: 0 20px;
  margin-bottom: 10px;
}
.comprehensive .issues {
  background-color: #ffffff;
  padding: 30px;
}
.comprehensive .issues .el-row {
  padding: 20px;
}
.comprehensive .issues .el-row h5 {
  line-height: 130px;
  font-size: 30px;
  color: #FF5722;
  font-weight: 600;
  text-align: center;
  text-shadow: 10px 10px 10px #d3d3d3;
  width: 100%;
  display: inline-block;
}
.comprehensive .issues .el-row p {
  line-height: 40px;
  font-size: 24px;
  padding: 20px;
  text-shadow: 10px 10px 10px #d3d3d3;
}
.comprehensive .incident {
  background-color: #f8f8f8;
  padding: 20px;
}
.comprehensive .incident h4 {
  line-height: 130px;
  color: #FF5722;
  font-size: 30px;
  font-weight: 600;
  padding-left: 20px;
  text-align: center;
  text-shadow: 10px 10px 10px #d3d3d3;
}
.comprehensive .incident p {
  line-height: 40px;
  font-size: 24px;
  padding: 20px;
  text-shadow: 10px 10px 10px #d3d3d3;
}
.comprehensive .incident .Political h5,
.comprehensive .incident .Economic h5,
.comprehensive .incident .ctu h5 {
  color: #0f2c2a;
  font-size: 30px;
  text-shadow: 10px 10px 10px #d3d3d3;
  line-height: 80px;
  padding-left: 20px;
}
.layout .el-container .el-header {
  padding: 0;
}
.layout .el-container .el-main {
  padding: 10px 0;
}
/*
* @Author: xiaju
* @Date:   2018-08-07 16:39:29
* @Last Modified by:   xiaju
* @Last Modified time: 2018-08-07 16:39:41
*/
.layoutheader {
  background-color: #ffffff;
  height: 100px;
}
.layoutheader .el-row {
  padding-left: 200px;
}
.layoutheader .el-row h4 {
  line-height: 50px;
  color: #FF5722;
  font-size: 30px;
  margin-top: 20px;
}
.layoutheader .el-row p {
  color: #0f2c2a;
}
.el-menu--horizontal {
  border-bottom: 0;
}
.el-menu--horizontal .el-submenu .el-submenu__title {
  height: 100px;
  line-height: 100px;
  font-size: 20px !important;
  padding: 0 30px;
}
.el-menu--horizontal .el-menu-item {
  height: 100px;
  line-height: 100px;
  font-size: 20px;
  padding: 0 30px;
}
.el-menu--horizontal .el-menu .el-menu-item {
  height: 100px;
  line-height: 100px;
  font-size: 20px;
  padding: 0 30px;
}
.el-menu--horizontal .el-menu--popup-bottom-start {
  margin-top: 0;
}
.PoliticsEventAnalysis .title {
  color: #FF5722;
  font-size: 30px;
  line-height: 80px;
  padding-left: 20px;
}
.PoliticsEventAnalysis .el-form {
  margin-top: 20px;
}
.PoliticsEventAnalysis .el-form .el-form-item__label {
  font-size: 18px;
  font-weight: 700;
  color: #0f2c2a;
}
.PoliticsEventAnalysis .statistics {
  margin-top: 20px;
  padding: 40px;
  background-color: #ffffff;
}
.PoliticsEventAnalysis .statistics .explain {
  font-size: 30px;
  line-height: 60px;
}
.PoliticsEventAnalysis .statistics .explain .bg-purple {
  padding: 10px 20px 10px 10px;
}
.PoliticsEventAnalysis .statistics .explain .bg-purple .icon .el-icon-news {
  width: 40px;
  line-height: 40px;
  color: #fff;
  background-color: #0f2c2a;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
}
.PoliticsEventAnalysis .statistics .explain .bg-purple .titl {
  display: inline-block;
  padding-left: 10px;
  width: 140px;
  line-height: 20px;
  font-size: 20px;
}
.PoliticsEventAnalysis .statistics .explain .bg-purple .titl span {
  color: #0f2c2a;
}
.PoliticsEventAnalysis .statistics h4 {
  color: #FF5722;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  width: 100%;
}
.PoliticsEventAnalysis .statistics:nth-of-type(2),
.PoliticsEventAnalysis .statistics:nth-of-type(4),
.PoliticsEventAnalysis .statistics:nth-of-type(6),
.PoliticsEventAnalysis .statistics:nth-of-type(8) {
  background-color: #f8f8f8;
  padding: 40px;
}
.PoliticsEventAnalysis .content {
  width: 100%;
  background-color: #ffffff;
  padding: 10px;
  margin-top: 30px;
}
.PoliticsEventAnalysis .span-title {
  display: block;
  font-size: 18px;
  line-height: 40px;
}
.PoliticsEventAnalysis .span-content {
  width: 80%;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  margin-left: 40px;
}
.PoliticsEventAnalysis .chartClass {
  width: 100%;
  height: 300px;
}
.PoliticsEventAnalysis .more {
  float: right;
  margin-top: 10px;
}
.PoliticsEventList {
  background-color: #ffffff;
  padding: 20px;
}
.PoliticsEventList .title {
  color: #FF5722;
  font-size: 30px;
  line-height: 60px;
}
.PoliticsEventList .el-form .el-form-item__label {
  font-size: 18px;
  color: #0f2c2a;
}
.EconomyEventAnalysis {
  background-color: #ffffff;
}
.EconomyEventAnalysis .title {
  color: #FF5722;
  font-size: 30px;
  line-height: 60px;
  padding-left: 20px;
}
.EconomyEventAnalysis .el-form .el-form-item_label {
  font-size: 18px;
  color: #0f2c2a;
}
.EconomyEventAnalysis > h4 {
  font-size: 30px;
  line-height: 80px;
  text-align: center;
  background-color: #f8f8f8;
  color: #FF5722;
}
.EconomyEventAnalysis .content {
  padding: 20px;
}
.EconomyEventAnalysis .content span {
  display: inline-block;
  width: 100%;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #0f2c2a;
}
.EconomyEventAnalysis .Economy {
  padding: 20px;
}
.EconomyEventAnalysis .Economy h4 {
  font-size: 20px;
  line-height: 40px;
  color: #0f2c2a;
}
.EconomyEventAnalysis .Economy > div {
  width: 100%;
  height: 500px;
}
.EconomyEventAnalysis .list {
  padding: 20px;
}
.EconomyEventAnalysis .list .more {
  float: right;
  margin-top: 10px;
}
.economyEventList {
  background-color: #ffffff;
  padding: 20px;
}
.economyEventList .title {
  color: #FF5722;
  font-size: 30px;
  line-height: 60px;
}
.economyEventList .el-form .el-form-item__label {
  font-size: 18px;
  color: #0f2c2a;
}
.AntiEventAnalysis .title {
  color: #FF5722;
  font-size: 30px;
  line-height: 80px;
  padding-left: 20px;
}
.AntiEventAnalysis .el-form {
  margin-top: 20px;
}
.AntiEventAnalysis .el-form .el-form-item__label {
  font-size: 18px;
  font-weight: 700;
  color: #0f2c2a;
}
.AntiEventAnalysis .statistics {
  margin-top: 20px;
  padding: 40px;
  background-color: #ffffff;
}
.AntiEventAnalysis .statistics .explain {
  font-size: 30px;
  line-height: 60px;
}
.AntiEventAnalysis .statistics .explain .bg-purple {
  padding: 10px 20px 10px 10px;
}
.AntiEventAnalysis .statistics .explain .bg-purple .icon .el-icon-news {
  width: 40px;
  line-height: 40px;
  color: #ffffff;
  background-color: #0f2c2a;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
}
.AntiEventAnalysis .statistics .explain .bg-purple .titl {
  display: inline-block;
  padding-left: 10px;
  width: 140px;
  line-height: 20px;
  font-size: 20px;
}
.AntiEventAnalysis .statistics .explain .bg-purple .titl span {
  color: #0f2c2a;
}
.AntiEventAnalysis .statistics h4 {
  color: #FF5722;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  width: 100%;
}
.AntiEventAnalysis .statistics:nth-of-type(2),
.AntiEventAnalysis .statistics:nth-of-type(4),
.AntiEventAnalysis .statistics:nth-of-type(6),
.AntiEventAnalysis .statistics:nth-of-type(8) {
  background-color: #f8f8f8;
  padding: 40px;
}
.AntiEventAnalysis .content {
  width: 100%;
  background-color: #ffffff;
  padding: 10px;
  margin-top: 30px;
}
.AntiEventAnalysis .span-title {
  display: block;
  font-size: 18px;
  line-height: 40px;
}
.AntiEventAnalysis .span-content {
  width: 80%;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  margin-left: 40px;
}
.AntiEventAnalysis .chartClass {
  width: 100%;
  height: 300px;
}
.AntiEventAnalysis .more {
  float: right;
  margin-top: 10px;
}
.AntiEventAnalysis .el-row {
  margin-bottom: 20px;
}
.AntiEventAnalysis .el-row:last-child {
  margin-bottom: 0;
}
.AntiEventAnalysis .el-col {
  border-radius: 4px;
}
.AntiEventAnalysis .bg-purple-dark {
  background: #ffffff;
}
.AntiEventAnalysis .bg-purple {
  background: #ffffff;
}
.AntiEventAnalysis .bg-purple-light {
  background: #ffffff;
}
.AntiEventAnalysis .grid-content {
  border-radius: 4px;
  min-height: 36px;
}
.AntiEventAnalysis .row-bg {
  padding: 10px 0;
  background-color: #ffffff;
}
.AntiEventList {
  background-color: #ffffff;
  padding: 20px;
}
.AntiEventList .title {
  line-height: 50px;
}
.AntiEventList .el-form {
  width: 100%;
}
.AntiEventList .el-form .el-form-item {
  margin-bottom: 22px;
}
.AntiEventList .el-form .el-form--inline .el-form-item {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}
.AntiEventList .el-form .el-input__inner {
  font-size: inherit;
  height: 40px;
  line-height: 40px;
}
.AntiEventList .AntiForm .el-input {
  width: 400px;
}
.AntiEventList .content {
  width: 100%;
  background-color: #ffffff;
  margin-top: 30px;
  padding: 10px;
}
.AntiEventList .el-table {
  width: 100%;
}
.AntiEventList .el-row {
  margin-bottom: 20px;
}
.AntiEventList .el-row:last-child {
  margin-bottom: 0;
}
.AntiEventList .el-col {
  border-radius: 4px;
}
.AntiEventList .bg-purple-dark {
  background: #ffffff;
}
.AntiEventList .bg-purple {
  background: #ffffff;
}
.AntiEventList .bg-purple-light {
  background: #ffffff;
}
.AntiEventList .grid-content {
  border-radius: 4px;
  min-height: 36px;
}
.AntiEventList .row-bg {
  padding: 10px 0;
  background-color: #ffffff;
}
.EventTimingAnalysis {
  background-color: #ffffff;
  padding: 20px 0;
}
.EventTimingAnalysis .title {
  color: #FF5722;
  font-size: 30px;
  line-height: 80px;
  text-align: center;
}
.EventTimingAnalysis .el-tabs {
  margin: 20px;
}
.EventTimingAnalysis .el-form {
  margin-top: 20px;
}
.EventTimingAnalysis .el-form .el-form-item__label {
  font-size: 18px;
  font-weight: 700;
  color: #0f2c2a;
}
.EventTimingAnalysis .statistics {
  background-color: #ffffff;
  margin-top: 20px;
  padding: 20px;
}
.EventTimingAnalysis .statistics h5 {
  font-size: 20px;
  line-height: 60px;
  color: #0f2c2a;
}
.EventTimingAnalysis .statistics .el-row .el-col .wordCloud {
  width: 100%;
  height: 350px;
}
.EventTimingAnalysis .statistics .el-row .el-col h4 {
  font-size: 18px;
  line-height: 30px;
  color: #0f2c2a;
}
.EventTimingAnalysis .statistics:nth-of-type(1),
.EventTimingAnalysis .statistics:nth-of-type(3),
.EventTimingAnalysis .statistics:nth-of-type(5),
.EventTimingAnalysis .statistics:nth-of-type(7),
.EventTimingAnalysis .statistics:nth-of-type(9) {
  background-color: #f8f8f8;
  padding: 20px;
}
.NewsList {
  padding: 20px;
  background-color: #ffffff;
}
.NewsList .title {
  font-size: 30px;
  line-height: 60px;
  color: #FF5722;
}
.NewsList .el-form {
  width: 100%;
}
.NewsList .el-form .el-form-item {
  margin-bottom: 22px;
}
.NewsList .el-form .el-form--inline .el-form-item {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}
.NewsList .el-form .el-input__inner {
  font-size: inherit;
  height: 40px;
  line-height: 40px;
}
.NewsList .content {
  width: 100%;
  background-color: #ffffff;
  margin-top: 30px;
  padding: 10px;
}
.NewsList .content .el-table {
  width: 100%;
}
.NewsDetail {
  background-color: #ffffff;
  padding: 20px;
}
.NewsDetail .NewsTitle {
  font-size: 30px;
  line-height: 60px;
  color: #FF5722;
  text-align: center;
}
.NewsDetail .NewsList {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #0f2c2a;
}
.NewsDetail .news {
  line-height: 30px;
  font-size: 20px;
  padding: 0 100px;
}
.region {
  background-color: #ffffff;
  padding: 20px 0;
}
.region .el-row h2 {
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  color: #FF5722;
}
.region .el-form {
  padding-left: 20px;
  border-bottom: 1px solid #eee;
}
.region .el-form .el-form-item .el-form-item__label {
  color: #0f2c2a;
  font-size: 20px;
}
.region .stabilityIndex h6 {
  font-size: 24px;
  line-height: 80px;
  color: #0f2c2a;
  padding: 20px;
  text-shadow: 10px 10px 10px #d3d3d3;
}
.region .stabilityIndex .el-row .el-col h4 {
  line-height: 400px;
  color: #FF5722;
  font-size: 80px;
  text-align: center;
}
.region .stabilityIndex .el-row .el-col .b {
  width: 85%;
  margin: 60px auto 0;
  border: 4px solid #f8f8f8;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}
.region .stabilityIndex .el-row .el-col .b .a {
  width: 200px;
  line-height: 196px;
  color: #FF5722;
  background-color: #fff;
  font-weight: 700;
  font-size: 80px;
  border: 4px solid #f8f8f8;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: -50%;
  margin-top: 100px;
  left: 50%;
  margin-left: -100px;
}
.region .stabilityIndex .el-row .el-col .b ul li {
  font-size: 30px;
  line-height: 120px;
  text-align: center;
  color: #0f2c2a;
}
.region .stabilityIndex .el-row .el-col .b ul li span:last-child {
  color: #FF5722;
  padding-left: 20px;
}
.region .stabilityIndex .el-row .el-col .el-card {
  width: 80%;
  margin: 0 auto;
}
.region .stabilityIndex .el-row .el-col .el-card p {
  line-height: 20px;
  font-size: 16px;
}
.region .overall {
  padding: 20px;
}
.region .overall h4 {
  font-size: 24px;
  line-height: 80px;
  color: #0f2c2a;
  padding-left: 20px;
  text-shadow: 10px 10px 10px #d3d3d3;
}
.region .overall .parameter h6 {
  font-size: 24px;
  line-height: 60px;
  color: #0f2c2a;
  padding-left: 20px;
  text-shadow: 10px 10px 10px #d3d3d3;
}
.region .overall .parameter .el-tab-pane {
  padding: 30px;
}
.region .overall .parameter .el-tab-pane p {
  font-size: 18px;
  line-height: 60px;
  color: #0f2c2a;
  padding-left: 20px;
  text-shadow: 10px 10px 10px #d3d3d3;
}
.region .overall .matrix h6 {
  font-size: 18px;
  line-height: 60px;
  color: #0f2c2a;
  padding-left: 20px;
  text-shadow: 10px 10px 10px #d3d3d3;
}
.region .overall .matrix h6 i {
  color: #FF5722;
  font-size: 30px;
  padding: 0 10px;
  line-height: 60px;
}
.region .overall .matrix p {
  margin-top: 40px;
  font-size: 20px;
  line-height: 40px;
  text-shadow: 10px 10px 10px #d3d3d3;
}
.region .original {
  background-color: #f8f8f8;
}
.region .original h5 {
  font-size: 24px;
  line-height: 60px;
  color: #0f2c2a;
  padding-left: 20px;
  text-shadow: 10px 10px 10px #d3d3d3;
}
.region .macro {
  padding: 20px;
}
.region .macro h4 {
  font-size: 20px;
  line-height: 60px;
  color: #0f2c2a;
  padding-left: 20px;
  text-shadow: 10px 10px 10px #d3d3d3;
}
.original {
  background-color: #ffffff;
  padding: 20px;
}
.original h4 {
  font-size: 30px;
  line-height: 60px;
  color: #FF5722;
}
.stability {
  background-color: #f8f8f8;
}
.stability .stability,
.stability .analyzegraphs {
  padding: 20px;
}
.stability .stability h5,
.stability .analyzegraphs h5 {
  color: #0f2c2a;
  font-size: 24px;
  line-height: 60px;
  text-shadow: 10px 10px 10px #d3d3d3;
}
.stability .stability .el-row .tiny {
  width: 30%;
  font-size: 20px;
  line-height: 40px;
  background-color: #FF5722;
  text-align: center;
}
.stability .stability .el-row .tiny span {
  color: #ffffff;
}
.stability .stability span {
  font-size: 20px;
  line-height: 60px;
  color: #FF5722;
  padding-left: 20px;
}
.ahp {
  background-color: #ffffff;
  padding: 20px;
}
.ahp h5 {
  color: #0f2c2a;
  font-size: 20px;
  line-height: 60px;
  text-shadow: 10px 10px 10px #d3d3d3;
}
.news {
  background-color: #ffffff;
  padding: 20px;
}
.news .el-row .el-col {
  padding: 0 100px;
}
.news .el-row .el-col h5 {
  color: #0f2c2a;
  font-size: 24px;
  line-height: 80px;
}
.news .el-row .el-col .source {
  padding: 0 20px;
}
.news .el-row .el-col .source li {
  line-height: 60px;
  color: #FF5722;
  font-size: 20px;
  margin-bottom: 10px;
  margin: 20px 0;
}
.news .el-row .el-col .source li:nth-child(3) .el-progress.is-success .el-progress-bar__inner {
  background-color: #fa0202;
}
.news .el-row .el-col .source li:nth-child(4) .el-progress.is-success .el-progress-bar__inner {
  background-color: #8080ff;
}
.news .el-row .el-col .source li span {
  padding-left: 30px;
}
.news .el-row .el-col .source li span:last-child {
  color: #FF5722;
}
.news .el-row .el-col .source li:first-child {
  font-size: 24px;
  line-height: 80px;
}
.news .el-row .el-col .new li {
  line-height: 40px;
  font-size: 20px;
  color: #FF5722;
}
.news .el-row .el-col .new li i {
  color: #FF5722;
  font-weight: 600;
  padding: 0 10px;
}
h5 {
  font-size: 20px;
  line-height: 50px;
  color: #0f2c2a;
}
.pagination p {
  font-size: 18px;
  line-height: 30px;
  color: #FF5722;
}
.report {
  background-color: #ffffff;
}
.report .el-row .el-col h4 {
  font-size: 30px;
  line-height: 80px;
  text-align: center;
  color: #FF5722;
}
.report .el-row .el-col .note {
  line-height: 80px;
  text-align: center;
  color: #FF5722;
  padding: 0;
}
.report .el-form--inline {
  padding-left: 50px;
}
.report .el-form--inline .el-form-item__label {
  color: #0f2c2a;
  font-size: 20px;
  line-height: 60px;
}
.report .el-form--inline .el-form-item .el-input__inner {
  height: 60px;
}
.report .el-form--inline .el-form-item .query {
  font-size: 20px;
  line-height: 34px;
  background-color: #FF5722;
  border-color: #FF5722;
}
.report .content {
  padding: 20px;
  border-top: 2px dashed #0f2c2a;
}
.report .content .el-form .el-form-item__label {
  color: #FF5722;
  font-size: 20px;
}
.report .content .el-form .el-form-item .Generated {
  font-size: 20px;
  line-height: 34px;
  background-color: #FF5722;
  border-color: #FF5722;
}
.report .content .headline {
  padding: 20px;
}
.report .content .headline .Describe .el-input__inner,
.report .content .headline .title .el-input__inner,
.report .content .headline .Describe .el-textarea__inner,
.report .content .headline .title .el-textarea__inner {
  width: 60%;
}
.report .content .topic {
  background-color: #f8f8f8;
  padding: 40px 20px;
}
.report .content .news {
  padding: 40px 20px;
}
.report .content .news h5 {
  font-size: 24px;
  line-height: 80px;
  color: #0f2c2a;
}
.report .content .eventAnalysis {
  padding: 20px 50px;
  background-color: #f8f8f8;
}
.report .content .eventAnalysis .event {
  background-color: #ffffff;
  padding: 20px;
}
.report .content .eventAnalysis .event h5 {
  font-size: 24px;
  line-height: 80px;
  color: #0f2c2a;
}
.report .content .btn {
  padding: 20px 300px;
}
.showcase h5 {
  font-size: 30px;
  line-height: 80px;
  color: #FF5722;
  padding-left: 40px;
}
.showcase .content h4 {
  font-size: 30px;
  line-height: 80px;
  text-align: center;
  color: #0f2c2a;
}
.showcase .content > p {
  font-size: 24px;
  line-height: 80px;
  text-align: center;
  color: #0f2c2a;
}
.showcase .content .topic {
  background-color: #f8f8f8;
  padding: 40px 20px;
}
.showcase .content .topic h6 {
  font-size: 24px;
  line-height: 80px;
  color: #0f2c2a;
}
.showcase .content .news {
  padding: 40px 20px;
}
.showcase .content .news h6 {
  font-size: 24px;
  line-height: 80px;
  color: #0f2c2a;
}
.showcase .content .news p {
  font-size: 20px;
  line-height: 60px;
  color: #0f2c2a;
}
.showcase .content .B {
  padding: 20px 50px;
  background-color: #f8f8f8;
}
.showcase .content .B h6 {
  font-size: 24px;
  line-height: 80px;
  color: #0f2c2a;
}
.showcase .content .B p {
  font-size: 20px;
  line-height: 60px;
  color: #0f2c2a;
}
.MacroData {
  padding: 40px;
  background-color: #fff;
}
.MacroData h1 {
  font-size: 30px;
  line-height: 100px;
  color: #FF5722;
  padding-left: 20px;
}
.MacroData .el-form {
  padding-left: 20px;
  border-bottom: 1px solid #eee;
}
.MacroData .el-form .el-form-item .el-form-item__label {
  color: #0f2c2a;
  font-size: 20px;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  /*清除点击默认的高亮效果*/
  -webkit-box-sizing: border-box;
  /*以你的border开始计算你的宽度*/
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  background-color: #e8ebf0;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover,
a:link,
a:visited {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  margin-bottom: 0;
}
input,
textarea {
  border: none;
  resize: none;
  outline: none;
  /*清除选中效果*/
  -webkit-appearance: none;
  /*清楚浏览器默认的样式*/
}
.w {
  width: 1280px;
  margin: 0 auto;
}
