.political {
  padding: 50px 100px;
}
.political .title {
  color: #6c7996;
  font-size: 30px;
  line-height: 60px;
}
.political .inline {
  background-color: #fff;
  padding: 20px;
}
.political .inline h4 {
  color: #6c7996;
  font-size: 20px;
  line-height: 60px;
}
.political .inline h5 {
  color: #6c7996;
  font-size: 18px;
  line-height: 40px;
}
.political .inline .el-form .el-form-item .el-select,
.political .inline .el-form .el-form-item .el-input {
  width: 150px;
}
.political .inline .el-form .el-form-item .el-form-item__label {
  color: #6c7996;
  font-size: 20px;
}
.political .inline .btn {
  padding-bottom: 20px;
}
.economic {
  padding: 50px 100px;
}
.economic .title {
  color: #6c7996;
  font-size: 30px;
  line-height: 100px;
}
.economic h4 {
  color: #6c7996;
  font-size: 20px;
  line-height: 60px;
}
.counterterrorism {
  padding: 50px 100px;
}
.counterterrorism .title {
  color: #6c7996;
  font-size: 30px;
  line-height: 60px;
}
.counterterrorism .inline {
  background-color: #fff;
  padding: 20px;
}
.counterterrorism .inline h4 {
  color: #6c7996;
  font-size: 20px;
  line-height: 60px;
}
.counterterrorism .inline h5 {
  color: #6c7996;
  font-size: 18px;
  line-height: 40px;
}
.counterterrorism .inline .el-form .el-form-item .el-select,
.counterterrorism .inline .el-form .el-form-item .el-input {
  width: 150px;
}
.counterterrorism .inline .el-form .el-form-item .el-form-item__label {
  color: #6c7996;
  font-size: 20px;
}
.counterterrorism .inline .btn {
  padding-bottom: 20px;
}
