/*
* @Author: xiaju
* @Date:   2018-08-07 16:39:29
* @Last Modified by:   xiaju
* @Last Modified time: 2018-08-07 16:39:41
*/
.header{
	   background-color:#03f;
	   line-height:80px;
	   text-align:center;
	   .title{
	   	color:#fff;
	   }
	}