/*
* @Author: xiaju
* @Date:   2018-08-07 16:39:29
* @Last Modified by:   xiaju
* @Last Modified time: 2018-08-07 16:39:41
*/
.layoutheader {
  background-color: #fff;
  height: 100px;
}
.layoutheader .el-row {
  padding-left: 200px;
}
.layoutheader .el-row h4 {
  line-height: 50px;
  color: #000080;
  font-size: 30px;
  margin-top: 20px;
}
.layoutheader .el-row p {
  color: #c0c0c0;
}
