/*
* @Author: xiaju
* @Date:   2018-08-07 16:39:29
* @Last Modified by:   xiaju
* @Last Modified time: 2018-08-07 16:39:41
*/
.header {
  background-color: #fff;
  height: 100px;
}
.header .service {
  line-height: 100px;
  float: right;
  margin-right: 20px;
}
.header .service .el-button {
  line-height: 40px;
  padding: 5px 10px;
}
