.news{
	.bg-purple{
		background-color:#fff;
		padding:10px 20px 10px 10px;
       .icon{
       	   .el-icon-news{
       	   	width: 60px;
       	   	line-height:60px;
       	   	color:#fff;
       	   	background-color:#1ca1e8;
       	   	border-radius:50%;
       	   	font-size:30px;
       	   	text-align:center;
       	   }
       	 }
       	 .title{
       	 	display:inline-block;
       	 	padding-left:24px;
       	 	width:100px;
       	 	line-height:20px;
       	 	span{
       	 		color:#1ca1e8;
       	 	}
       }
	}
}
.aside{
	.el-col{
		
		.bg-purple{
			padding:30px;
			height: 400px;
			background-color:#fff;
			h4{
				color:#1ca1e8;
				font-size:24px;
				font-weight:normal;
				line-height:50px;
				padding-left:20px;
			}
			ul{
				li{
					float:left;
					width:45%;
					line-height:40px;
					font-size:18px;
					border:1px solid #e8ebf0;
					
					margin:10px;
					padding-left:10px;
					.el-icon-menu{
						color:#fecd77 ;
						font-size:20px;
					}
				}
			}
		}
		.bg-purple-light{
			padding:25px 30px;
			margin-left:30px;
			background-color:#fff;
            h4{
				color:#1ca1e8;
				font-size:24px;
				font-weight:normal;
				line-height:50px;
				padding-left:20px;
			}
			ul{
				li{
					border-left:1px solid #e8ebf0;
					border-bottom:1px solid #e8ebf0;
					border-right:1px solid #e8ebf0;
					width: 100%;
					line-height:49px;
					font-size:18px;
					padding-left:10px;
				}
				li:first-child{
					border-top:1px solid #e8ebf0;
				}
			}
		}
	}
}