.stability {
  background-color: #fff;
  margin: 20px;
}
.stability .stabilityIndex,
.stability .analyzegraphs {
  padding: 20px;
}
.stability .stabilityIndex h5,
.stability .analyzegraphs h5 {
  color: #0080ff;
  font-size: 20px;
  line-height: 60px;
  text-shadow: 5px 5px 5px #808080;
}
.stability .stabilityIndex .el-row .tiny {
  width: 30%;
  font-size: 20px;
  line-height: 40px;
  background-color: #000000;
}
.stability .stabilityIndex .el-row .tiny span {
  color: #ffff00;
}
.stability .stabilityIndex span {
  font-size: 20px;
  line-height: 60px;
  color: #000080;
  padding-left: 20px;
}
