//新闻列表
.NewsList{
	.title{
	    line-height:50px;
	}
	.el-form{
        width:100%;
        .el-form-item{
            margin-bottom: 22px;
        }
        .el-form--inline .el-form-item {
            display: inline-block;
		    margin-right: 10px;
		    vertical-align: top;
		}
		.el-input__inner{
		    font-size: inherit;
		    height: 40px;
		    line-height: 40px;
		}
    }
    .content{
        width:100%;
        background-color:#ffffff;
        margin-top:30px;
        padding:10px;
        .el-table{
            width:100%;
        }
    }
}

//新闻详情
.NewsDetail{
	.title{
	    line-height:50px;
    }
    .NewsTitle{
        width:100%;
        display:inline-block;
        text-align:center;
        line-height:50px;
        font-size:22px;
    }
    .span-content{
        width:100%;
        display:inline-block;
        text-align:center;
    }
}
